#container {
    display: inline-block;
    width: 50%;
}

#doughnut-chart {
    border: 1px solid black;
    margin: 5px;
}

#bar-chart-horizontal {
    border: 1px solid black;
    margin: 5px;
}