.bg {
    position: absolute;
    left:0px; 
    top:0px; 
    width:1136px; 
    height:640px; 
    border:none;
}


.hajime {
    position: absolute;
    left: 550px;
    bottom: 30px;
    animation: hajime infinite;
}

.tomoya {
    position: absolute;
    left: 0px;
    bottom: 30px;
    animation: tomoya 5s ;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes tomoya {
    from {left: -10px;}
    to {left: 220px;}
  }

.speech-bubble {
    position: absolute;
    left: 840px;
    bottom: 370px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 3px;
    font-size: 14px;
    width: 150px;
    margin: 30px auto;
    text-align: center;
    font-weight: 70;
    font-family: arial;
}



.speech-bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #ffffff;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    border-bottom: 10px solid transparent;
    left: 10px;
    bottom: -10px;
}



