body {
    background-image: url('assets/bg.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: top;
}

.hajime {
    position: absolute;
    left: 950px;
    bottom: 350px;
    animation: hajime infinite;
}

.tomoya {
    position: absolute;
    left: 0px;
    bottom: 350px;
    animation: tomoya 5s ;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes tomoya {
    from {left: 350px;}
    to {left: 650px;}
  }

.speech-bubble p{
    position: absolute;
    left: 1250px;
    bottom: 680px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 7px;
    font-size: 14px;
    width: 150px;
    margin: 50px auto;
    text-align: center;
    font-weight: 70;
    font-family: arial;
}



.speech-bubble p:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #ffffff;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    border-bottom: 10px solid transparent;
    left: 10px;
    bottom: -10px;
}

.button {
    position: absolute;
    left: 392px;
    bottom:300px;
}

