.sound-machine {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    width: 300px;
  }
  

  
  .sound-button {
    width: 90px;
    flex: 0 0 50px;
    padding: 5px;
    background-color: rgb(238, 238, 238);
    border: none;
    outline: double;
    cursor: pointer;
  }
  
  .sound-button:hover {
    background-color: rgb(100, 100, 100);
  }
  